body {
   margin: 0px;
   font-family: 'Poppins', sans-serif;
}

nav {
    background-color: rgba(116, 97, 97, 0.534);
    display: flex;
    height: 10vh;
}

nav div{
    display: flex;
    align-items: center;
}

nav .left-one {
    flex: 50%;
    padding-left: 90px;
}

nav .right-one {
    flex: 50%;
    justify-content: flex-end;
    padding-right: 90px;
}

nav ul{
    list-style: none;
    margin-left: 30px;
}

nav ul li{
    display: inline;
    margin-right: 20px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    font-weight: 700px;
}

nav ul li a.active{
    color: grey;
}

nav .right-one a{
    color: white;
    text-decoration: none;
    font-size: 13px;
    background-color: grey;
    padding: 1px 10px;
    border-radius: 10px;
}

.container-1{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-1{
    flex:30%;
    padding-right: 10px;
    background-color: aqua;
}

.left-1 p{
    text-align: justify;
    margin-bottom: 0px;
    
}

.right-1{
    flex:5%;
    display: inline;
}

.right h3{
    text-align: center;
    margin-bottom: 8px;
}

.right p{
    text-align: center;
    margin-top: 0px;
}

.project{
    border: 1px solid pink;
    margin: auto;
    margin-top: 50px;
    width: 700px;
    padding: 50px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px grey;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.left{
    flex:50%;
    padding-right: 10px;
}

.left p{
    text-align: justify;
    padding-right: 15px;
    margin-bottom: 0px;
}

.right{
    flex:5%;
    display: inline;
    border: 1px solid mintcream;
    width: 200px;
    border-radius: 10px;
    box-shadow: 0px 0px 15px grey;
    margin:auto;
    margin-top: 20px;
}

.right h3{
    text-align: center;
    margin-bottom: 8px;
}

.right p{
    text-align: center;
    margin-top: 0px;
}